.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.StartButton {
  margin-top: 5px;
  width: 200px;
  height: 40px;
  font-size: 0.7em;
  padding: 2px 5px;
}

.IntroButton {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
  font-size: 0.6em;
  padding: 2px 5px;
}

.SendButton {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  font-size: 0.6em;
  padding: 2px 5px;
}

.DecryptButton {
  margin-top: 5px;
  width: 120px;
  height: 30px;
  font-size: 0.6em;
  padding: 2px 5px;
}

.ResetButton {
  margin-left: 26px;
  margin-top: 5px;
  width: 120px;
  height: 30px;
  font-size: 0.6em;
  padding: 2px 5px;
}

.DownloadButton {
  margin-left: 26px;
  margin-top: 5px;
  width: 120px;
  height: 30px;
  font-size: 0.6em;
  padding: 2px 5px;
}

.MsgBoxContainer {
  width: 600px;
}

/* Collapsible div */
.collapse-content {
  width: 600px;
  font-size: 0.6em;
  padding: 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
  margin: 0 auto;
}

.collapse-content ol {
  text-align: left;
  line-height: 1.2em;
  margin-left: 30px;
}

.MsgBox {
  margin-top: 5px;
  font-size: 0.7em;
  width: 400px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

.Result {
  margin-top: 40px;
  font-size: 0.7em;
  width: 400px;
  padding-left: 5px;
  padding-right: 5px;
}

.Footer {
  position: fixed;
  padding-top: 14px;
  bottom: 0;
  width: 100%;
  background: #363c47;
  font-size: calc(10px + 0.6vmin);
  height: 35px;
}

.extra {
  height: 60px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #52bbd8;
  text-decoration: none;
}

#drop_zone {
  border: 2px dashed #bbb;
  padding: 5px;
  color: #bbb;
  width: 400px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
